__pycache__/
vunit_out/
Projetos/F-Assembly/tests/tst/palindromo/palindromo0_end.mif
Projetos/F-Assembly/tests/tst/palindromo/palindromo1_end.mif
Projetos/G-Computador/Quartus/DE0_CV_Default.asm.rpt
Projetos/G-Computador/Quartus/DE0_CV_Default.done
Projetos/G-Computador/Quartus/DE0_CV_Default.fit.rpt
Projetos/G-Computador/Quartus/DE0_CV_Default.fit.smsg
Projetos/G-Computador/Quartus/DE0_CV_Default.fit.summary
Projetos/G-Computador/Quartus/DE0_CV_Default.flow.rpt
Projetos/G-Computador/Quartus/DE0_CV_Default.jdi
Projetos/G-Computador/Quartus/DE0_CV_Default.map.rpt
Projetos/G-Computador/Quartus/DE0_CV_Default.map.summary
Projetos/G-Computador/Quartus/DE0_CV_Default.pin
Projetos/G-Computador/Quartus/DE0_CV_Default.pof
Projetos/G-Computador/Quartus/DE0_CV_Default.qws
Projetos/G-Computador/Quartus/DE0_CV_Default.sld
Projetos/G-Computador/Quartus/DE0_CV_Default.sof
Projetos/G-Computador/Quartus/DE0_CV_Default.sta.rpt
Projetos/G-Computador/Quartus/DE0_CV_Default.sta.summary
Projetos/G-Computador/Quartus/c5_pin_model_dump.txt
Projetos/G-Computador/Quartus/db/
Projetos/G-Computador/Quartus/incremental_db/
Projetos/G-Computador/Z01-Simulator-RTL/work/_lib1_1143.qdb
Projetos/G-Computador/Z01-Simulator-RTL/work/_lib1_1143.qpg
Projetos/G-Computador/Z01-Simulator-RTL/work/_lib1_1143.qtl
Projetos/bin/